<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input page</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
    body {
      font-family: "Inter", sans-serif;
      font-size: 18px;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
    }

    form > * {
      padding: 10px 0px;
    }

    input {
      padding: 10px;
    }

    input::placeholder {
      font-family: "Inter", sans-serif;
    }
  </style>
  <body>
    <form action="/uploadData" method="POST" enctype="multipart/form-data">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Enter your name"
        required
      />
      <label for="dob">D.O.B</label>
      <input
        type="date"
        name="dob"
        id="dob"
        placeholder="Enter your Date of Birth"
        required
      />
      <label for="countries">Country</label>
      <input
        list="countries"
        id="countryInputBox"
        name="countries"
        placeholder="Which country are you living currently in?"
        required
      />
      <datalist id="countries"></datalist>
      <label for="resume">Upload Your Resume</label>
      <input type="file" id="resume" name="resume" required multiple />
      <input type="submit" value="Submit my Form" />
    </form>
  </body>
  <script>
    const countrySuggestion = document.getElementById("countryInputBox");
    const datalist = document.getElementById("countries");
    let countriesData;
    // Make an API call to backend on click of select to load all the country options
    countrySuggestion.addEventListener("click", async () => {
      const response = await fetch("http://localhost:5000/countries");
      countriesData = await response.json();
      const options = countriesData.map((country) => {
        return `<option value="${country.code}"" style="width: 100%;height: 20px;">${country.name}</option>`;
      });
      options.forEach((option) => {
        datalist.insertAdjacentHTML("beforeend", option);
      });
    });
  </script>
</html>
